.click{
    height: 100vh;
    display: grid; 
    grid-template-columns:  1fr 0.5fr 0.5fr 1fr ;
    grid-template-rows: 0.2fr 1fr 0.3fr 1fr;
    grid-template-areas:". . . ." ". b1 b1 ." ". . . ." "b2 b2 b3 b3";
    h1{font-size:clamp(2.7rem,4vw, 3.2rem);}
    h2{font-size:clamp(1.8rem,3vw, 2.3rem);}
    .demo-box{
        background: darken($color: $blue, $amount: 2%);
        padding: 10px;
        @include border-radius(10px);
        height:clamp(260px, 22vw,50px);
        h2{
            font-size: clamp(1.6rem, 2.5vw, 2rem);
        }
        a{font-size: clamp(1.2rem, 2.3vw, 1.8rem);}
        #demo-btn-basic{
            font-size: clamp(1rem, 2.3vw, 1.5rem);
        }
    }

    

    .symbol-demo{
        box-sizing: border-box;
        position: relative;
        cursor:pointer;
    }

    .symbol-demo::after{
        content: "\27B2";
        position: absolute;
        bottom: 0;
        transform-origin: bottom;
        font-size: 1.1em;
        transition: 250ms font-size ease,
                    250ms font-weight ease;
    }
    
    .symbol-demo:hover::after{
        content: "\27B2";
        position: absolute;
        transform-origin:bottom;
        font-weight: bold;
        font-size: 1.3em;
    }

    .demo-btn-1{
        font-size: clamp(0.8rem,2vw,0.9rem);
        padding: 3px;
        border:none;
        background-color: lighten($color: $blue, $amount: 80%);
        transition: 1s transform ease, 
                    1s background-color ease,
                    1s padding ease,
                    1s color ease 0.2s,
                    1s border-radius ease;
        outline: 0!important;
    }
    
    .demo-btn-1-click{
        /* mixin for transform: scale */
        background: $lBlue;
        color:  aliceblue;
        @include scale-xy(1.8,1.5); 
        @include border-radius(3px); 
        padding: 6px 10px;
    }
    
    .demo-btn-1-click:hover{
        background: darken($color: $lBlue, $amount: 10%);
    }
    
    .space-sep::after{
        content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
    }
}

.click-next-page{
    height: 100vh;
    display: grid; 
    grid-template-columns:  0.5fr 0.5fr 0.5fr  ;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.3fr 0.3fr 0.3fr 0.2fr;
    grid-template-areas:". . ." 
                        "q q q"
                        ". cc ."
                        "np1 np2 np3" 
                        "np4 np5 np6" 
                        "np7 np8 np9" 
                        ". . .";
    text-align: center;
    h1{font-size:clamp(2rem,3vw,2.6rem);}
    h2{font-size:clamp(1.9rem,2.8vw,2.2rem);}
    .np-task{grid-area: q}
    .clicks{grid-area: cc}
    .np1{grid-area: np1}
    .np2{grid-area: np2}
    .np3{grid-area: np3}
    .np4{grid-area: np4}
    .np5{grid-area: np5}
    .np6{grid-area: np6}
    .np7{grid-area: np7}
    .np8{grid-area: np8}
    .np9{grid-area: np9;}
    a{font-size: clamp(1.3rem, 1.8vw, 2rem)}
    .btn-primary{
        color: aliceblue;
        background-color: $lBlue;
        font-size: clamp(1.3rem, 1.8vw, 2rem);
    }

}

@media screen and (max-width: 720px) {
    .click{
        grid-template-columns:  1fr 1fr 1fr ;
        grid-template-rows: 0.05fr 0.8fr 1fr 1fr;
        grid-template-areas:"b1 b1 b1" "b1 b1 b1" "b2 b2 b2" "b3 b3 b3";
    }
} 