/* #region main content grid */
.click{

    /* #region general setup*/
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 0.5fr 0.5fr 1fr ;
    grid-template-rows: 0.2fr 1fr 0.3fr 1fr;
    grid-template-areas:". . . ." ". b1 b1 ." ". . . ." "b2 b2 b3 b3";
    
    // h3{font-size:clamp(1.8rem,3vw, 2.3rem);}
    /* #endregion */

    /* #region setup demo box/card*/
    .demo-box{
        background: darken($color: $blue, $amount: 2%);
        padding: 10px;
        @include border-radius(10px);
        height:clamp(260px, 22vw,50px);
        h3{
            font-size: clamp(1.6rem, 2.5vw, 2rem);
        }
        a{font-size: clamp(1.2rem, 2.3vw, 1.8rem);}
        #demo-btn-basic{
            font-size: clamp(1rem, 2.3vw, 1.5rem);
        }
    }
    /* white space in HTML */
    .space-sep::after{
        content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
    }
    /* #endregion */
    
    /* #region symbol demo animation*/
    .symbol-demo{
        box-sizing: border-box;
        position: relative;
        text-decoration: none;
        cursor:pointer;
        transition: 250ms color ease;
        &:hover{color: currentColor;}
        // symbol pseudo
        &::after{
            font-family: "FontAwesome";
            content: " \f138";
            position: absolute;
            display: inline;
            bottom: 0;
            right: -1em;
            font-size: 1em;
            transition: 250ms font-size ease, 250ms font-weight ease,
                        250ms right ease, 250ms color ease;
        }
        // symbol pseudo hover
        &:hover::after,
        &:focus-within::after{
            font-family: "FontAwesome";
            content: " \f138";
            position: absolute;
            right:-1.2em;
            font-weight: bold;
            color: $accent;
            font-size: 1.2em;
        }
    }
    /* #endregion */
    
    /* #region demo click button styling*/
    .demo-btn-1{
        font-size: clamp(0.8rem,2vw,0.9rem);
        padding: 3px;
        border:none;
        background-color: lighten($color: $blue, $amount: 80%);
        transition: 1s transform ease, 
                    1s background-color ease,
                    1s padding ease,
                    1s color ease 0.2s,
                    1s border-radius ease;
        outline: 0!important;
    }
    /* styling for the toggled class (larger btn) */
    .demo-btn-1-click{
        background: $lBlue;
        color:  aliceblue;
        /* mixin for transform: scale */
        @include scale-xy(1.8,1.5); 
        @include border-radius(0.2rem); 
        padding: .5rem .7rem;
    }
    .demo-btn-1-click:hover{
        background: darken($color: $lBlue, $amount: 10%);
    }
    /* #endregion */
}
/* #endregion */

/* #region next page buttons */
.click-next-page{
    /* #region general stylings and grid setup*/
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  0.5fr 0.5fr 0.5fr  ;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.3fr 0.3fr 0.3fr 0.2fr;
    grid-template-areas:". . ." 
                        "q q q"
                        ". cc ."
                        "np1 np2 np3" 
                        "np4 np5 np6" 
                        "np7 np8 np9" 
                        ". . .";
    text-align: center;
    h2 {font-size:clamp(2rem,3.5vw, 3rem)}
    
    a{
        font-size: clamp(1.4rem, 2.5vw, 2rem);
        font-weight: bold;
    }
    /* #endregion */

    /* #region grid items setup */
    .np-task{grid-area: q;}
    .clicks{grid-area: cc;}
    .np1{grid-area: np1;}
    .np2{grid-area: np2;}
    .np3{grid-area: np3;}
    .np4{grid-area: np4;}
    .np5{grid-area: np5;}
    .np6{grid-area: np6;}
    .np7{grid-area: np7;}
    .np8{grid-area: np8;}
    .np9{grid-area: np9;}
    /* #endregion */

    /* #region Arrow symbol animation*/
    .symbol{
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        cursor:text;
    }
    .symbol::after{
        /* code for rounded arrow */
        font-family: "FontAwesome";
        content: " \f138";
        position: absolute;
        margin-left: 5px;
        bottom: 0;
        transform-origin:center;
        font-size: clamp(1.5rem, 1.5vw ,3em);
        /* set rotation to start at 300 deg (facing upwards)*/
        // transform: rotate(300deg);
        transition: 250ms font-size ease,
                    250ms transform ease;
    }
    .symbol:hover::after{
        font-family: "FontAwesome";
        content: " \F138";
        position: absolute;
        /* rotation on hover becomes 360 deg (right) */
        transform: rotate(360deg);
        font-size: clamp(1.6rem, 2vw ,3.5em);
    }
    /* #endregion */
}
/* #endregion */

