.click{
    height: 100vh;
    display: grid; 
    grid-template-columns:  1fr 0.5fr 0.5fr 1fr ;
    grid-template-rows: 0.2fr 1fr 0.3fr 1fr;
    grid-template-areas:". . . ." ". b1 b1 ." ". . . ." "b2 b2 b3 b3";
}
.btn-demo{
    background: darken($color: $blue, $amount: 2%);
    padding: 10px;
    @include border-radius(10px);
}
.demo-btn-1{
    font-size: 0.8rem;
    padding: 3px;
    border:none;
    background-color: lighten($color: $blue, $amount: 80%);
    transition: 1s transform ease, 
                0.5s background-color ease,
                1s padding ease,
                1s color ease,
                1s border-radius ease;
                
}
.demo-btn-1-click{
    /* mixin for transform: scale */
    background: lighten($color: $blue, $amount: 65%);
    color:  $blue;
    @include scale-xy(1.8,1.5); 
    @include border-radius(5px); 
    padding: 6px 10px;
}

.demo-btn-1-click:hover{
    background: lighten($color: $blue, $amount: 55%);
}

@media screen and (max-width: 720px) {
    h2{font-size: 1.7rem}
    .click{
        grid-template-columns:  1fr 1fr 1fr ;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        grid-template-areas:"b1 b1 b1" "b1 b1 b1" "b2 b2 b2" "b3 b3 b3";
    }
} 