.colour-main{
    height: 100vh;
    overflow-y: auto;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 1fr 0.1fr 1fr;
    grid-template-areas:". .  ." ". b1 ." ". .  ." "b2 b2 b2";
}

.cards{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: 0px 1%;
    padding: 4px;
    background-color: $lBlue;
    color: aliceblue;
    border: 0.5rem solid $lBlue;
    @include border-radius(1rem);
    transition: 200ms width ease,150ms margin ease;
    .card-title{color: $blue; transition: 1s color ease;}
}
.hierarchy a{
    font-size: clamp(1rem, 1.8vw, 1.5rem);
}
.highlight{
    background-color: $accent;
    font-size:clamp(1.3rem,1.2vw, 1.8rem);
    @include border-radius(0.2rem);
}
.highlight.or-wh{
    
    color: white;
    font-family: $fontA;
}
.highlight.padding{
    padding: 0.2rem 0.5rem ;
}
.highlight.darker{
    background-color: darken($color: $blue, $amount: 3%);
}
.highlight.light{
    background-color: rgba($blue, 0.5);
}
.highlight.lightest{
    background-color: rgba($blue, 0.2);
    
}

.gap{margin-right:10px;}
.gap:last-child{margin-right:0px;}

.ratio{
    text-align: center;
    color: white;
    width:30%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image:   linear-gradient($blue, $blue), 
    linear-gradient($lBlue, $lBlue), 
    linear-gradient($accent, $accent);
    background-size: 100% 50%,100% 80%,100% 100%;

    // box-shadow: inset 0px 0px 0px 10px $lBlue;
    transition: 1s background-size ease-in-out;
    .card-title{
        color: $lBlue;
    }
}

$red : #992624;

.clr-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: "w . c" "aw . ac" "aw . ac";
    background: linear-gradient(to right, 
                rgba($red,0.9) 10%, 
                rgba($accent,0.6), 
                rgba($blue,0.9) 90%);

    background-repeat: no-repeat;
    @include border-radius(1rem);
    padding: 2rem;
    .warm {grid-area: w;}
    .cool {grid-area: c;}
    .all-warm {grid-area: aw;}
    .all-cool {grid-area: ac;}
}

.fa-card {
    // font-weight: 900;
    background-color:aliceblue;
    padding: 5px;
    font-size: 2rem;
    border-radius:0.5rem;
    transition: 250ms transform ease;
    color: $blue;
    margin: 5px;
}
.fa-card:hover, .fa-card:focus-within {
    transform: scale(1.2);
}

.fa-card.red{color: #992624;}
.fa-card.orange{color: $accentD;}
.fa-card.yellow{
    color: #FFE20A;
    background-color:#125EA5!important;
}
.fa-card.blue{color: #125EA5;}
.fa-card.green{color: #1D5E3E;}
.fa-card.purple{color: #312768;}


@media(hover){
    .ratio{
        background-size: 100% 0%,100% 0%,100% 0%;
        .card-title{color: $blue;}
    }
    .ratio:hover{
        background-size: 100% 50%,100% 80%,100% 100%;
        .card-title{color: $lBlue;}
    }
}

@media screen and (max-width: 720px) {
    .colour-main{
        grid-template-areas:"b1 b1 b1" 
        "b1 b1 b1" 
        "b2 b2 b2" 
        "b2 b2 b2";
    }
}
@media screen and (max-width: 940px) {
    .cards{
        display: block;
        margin: 25px auto;
        width: 60%;
    }
} 
@media screen and (max-width: 540px) {
    .cards{width: 100%;}
}