.colour-main{
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 0.3fr 0.1fr 0.8fr;
    grid-template-areas:". .  ." ". b1 ." ". .  ." "b2 b2 b2";
}

.cards{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: 0px 1%;
    padding: 4px;
    background-color: $lBlue;
    color: aliceblue;
    border: 0.5rem solid $lBlue;
    @include border-radius(1rem);
    transition: 200ms width ease,150ms margin ease;
    .card-title{
        color: $blue; 
        transition: 1s color ease;
    }
    .hierarchy a{
        font-size: clamp(1rem, 1.8vw, 1.5rem);
    }
    .highlight{
        background-color: $accent;
        font-size:clamp(1.3rem,1.2vw, 1.8rem);
        @include border-radius(0.2rem);
    }
    .highlight.or-wh{
        
        color: white;
        font-family: $fontA;
    }
    .highlight.padding{
        padding: 0.2rem 0.5rem ;
    }
    .highlight.darker{
        background-color: darken($color: $blue, $amount: 3%);
    }
    .highlight.light{
        background-color: rgba($blue, 0.5);
    }
    .highlight.lightest{
        background-color: rgba($blue, 0.2);
    }
}

.gap{margin-right:10px;}
.gap:last-child{margin-right:0px;}

.ratio{
    text-align: center;
    color: white;
    width:30%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image:   linear-gradient($blue, $blue), 
    linear-gradient($lBlue, $lBlue), 
    linear-gradient($accent, $accent);
    background-size: 100% 50%,100% 80%,100% 100%;
    transition: 1s background-size ease-in-out;
    .card-title{
        color: $lBlue;
    }
}


.clr-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 0.4fr 0.2fr 0.4fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
    grid-template-areas:"w . c"
                        "bar bar bar" 
                        "aw . ac" 
                        "aw . ac";
    
    background-repeat: no-repeat;
    padding: 1rem;

    .warm {grid-area: w;}
    .cool {grid-area: c;}
    .all-warm {grid-area: aw;}
    .all-cool {grid-area: ac;}

    .bar {
        grid-area: bar;
        height: min-content;
        @include border-radius(1rem);
        background: linear-gradient(to right, 
                rgba($lBlue,1) 3%, 
                rgba($red,1) 20%, 
                rgba($accent,0.8),
                rgba($blue,1) 80%,
                rgba($lBlue,1) 97%);
    }

    .fa-card {
        background-color:aliceblue;
        padding: 5px;
        font-size: 2rem;
        border-radius:0.5rem;
        transition: 250ms transform ease;
        color: $blue;
        margin: 5px;

        &.red {color: $red;}
        &.orange {color: $accentD;}
        &.blue {color: #125EA5;}
        &.green {color: #1D5E3E;}
        &.purple{color: #312768;}
        &.yellow {
            color: #FFE20A;
            background-color:#125EA5!important;
        }
    }
    .fa-card:hover, 
    .fa-card:focus-within {
        transform: scale(1.2);
    }
}


.colour-a11y {
    min-height: 100vh;
    height: 800px;
    display: grid; 
    grid-template-columns:  0.3fr 200px 0.35fr 0.35fr 200px;
    grid-template-rows: 0.2fr 0.3fr  0.2fr  0.3fr;
    grid-template-areas:". . . ss1 s1"
                        "h h c c ." 
                        ". s2 ss2 . s3" 
                        ". ss3 cb cb ss4";
    
    h4 {
        color: $blue;
        font-size:clamp(1.6rem,2vw, 2rem);}
    
    p {
        font-size:clamp(1.6rem,1.8vw, 1.8rem);
    }
    .heading {
        grid-area: h;
        text-align: left;
        padding: 0px 2rem;
        overflow: scroll;
    }
    
    .sqr1 {grid-area: s1; background-color: $lBlue;}
    .sqr2 {grid-area: s2; background-color: $lBlue;}
    .sqr3 {grid-area: s3; background-color: $lBlue;}

    .sml-sqr1 {grid-area: ss1;}
    .sml-sqr2 {grid-area: ss2;}
    .sml-sqr3 {grid-area: ss3;}
    .sml-sqr4 {grid-area: ss4;}

    .flex-br {
        display: flex;
        align-items:flex-end;
        justify-content: flex-end;
    }

    .flex-tr {
        display: flex;
        align-items:top;
        justify-content: flex-end;
    }
    .flex-tl {
        display: flex;
        align-items:top;
        justify-content: flex-start;
    }

    .or-box {
        background-color: $accent; 
        width: 75px;
        height: 75px;
    }

    .or-box.md {
        width: 110px;
        height: 110px;
    }

    .contrast {
        overflow: scroll;
        grid-area: c;
        background-color: $lBlue;
        color: white;
        padding: clamp(0.8rem,2vw,2.5rem)!important;
        padding-right: clamp(1rem, 10vw, 5rem)!important;
    }
    
    .colour-blind {
        grid-area: cb;
        overflow:scroll;
        color: white; 
        padding: clamp(0.8rem,2vw,2.5rem);
        padding-right: clamp(1rem, 10vw, 5rem);
        background-color: $lBlue;
    }

    transition: 250ms height ease;
    
}


@media(hover){
    .ratio{
        background-size: 100% 0%,100% 0%,100% 0%;
        .card-title{color: $blue;}
    }
    .ratio:hover{
        background-size: 100% 50%,100% 80%,100% 100%;
        .card-title{color: $lBlue;}
    }
}

@media screen and (max-width: 940px) {
    .colour-main {
        height: 100%;
        grid-template-rows: 0.2fr 0.2fr 0.1fr 0.9fr;
        grid-template-areas:"b1 b1 b1" 
        "b1 b1 b1" 
        "b2 b2 b2" 
        "b2 b2 b2";
    }
    .cards {
        display: block;
        margin: 25px auto;
        width: 60%;
    }

    .colour-a11y {
        
        grid-template-columns:  100px 0.3fr 0.4fr 0.3fr 100px;
        grid-template-rows: 0.2fr 0.35fr  0.1fr  0.35fr;
        grid-template-areas:"h h h ss1 s1"
                            ". c c c ." 
                            "s2 ss2 . . s3" 
                            "ss3 cb cb cb ss4";
        
    }
    .or-box{
        width: 30px!important;
        height: 30px!important;
    }
    .or-box.md{
        width: 75px!important;
        height: 75px!important;
    }
}

@media screen and (max-width: 720px) {
    .colour-a11y{
        height: 140vh;
    }
}

@media screen and (max-width: 540px) {
    .cards {width: 100%;}
    .colour-a11y{
        height: 140vh;
    }
}