$incon-prim: #74508A;
$incon-sec: #FBF7FF;
$incon-sec2: #D9A1EA;
$incon-acc: #9E9D37;

.con-main{
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.05fr 0.3fr 0.05fr 0.6fr;
    grid-template-areas:". . ."
                        ". b1 ."
                        ". . ."
                        "b2 b2 b2";
    .con-toggle{
        min-height: 0vw;
        font-size: clamp(1.2rem, 2vw, 1.4rem);
    }
    .white{
        background-color: rgb(216, 216, 216);
        border: 8px solid rgb(216, 216, 216);
        p{color: $blue;}
    }
    .con-btns{

        font-size: clamp(1.1rem, 1.8vw,1.5rem);
        &.a{
            font-family: $fontD;
            padding:2px;
        }
        &.b{
            
            font-family: $fontC;
            border-radius: 3rem;
        }
    }
    .cards{
        min-height: 40vh;
        height: 250px;
    }
}


/* #region entire page style change */
body.con-body{
    // transition: all 1s ease;
    .con-main{
        transition: 1s background-color ease;
    }
    .cards{
        transition: 1s background-color ease,
                    1s border ease,
                    1s border-radius ease,
                    .5s height ease,
                    1s min-height ease;
        &.white p{transition: 1s color ease;}

    }
}
@mixin sqr($t, $l, $d, $r){
    clip-path: inset($t $l $d $r)!important;
    -webkit-clip-path: inset($t $l $d $r)!important;
}
.hb-btn:checked{
    display: initial;
    ~.nav-bar{
        @include sqr(0, 0, 10%, 0);
    }
}

.inconsistent{
    
    .nav-bar{
        // initial clip path
        @include sqr(0, 75%, 90%, 0);
        background-color: rgba($incon-sec,0);
        .hb-icon{
            background-color: $incon-prim;
            &:after,
            &::before{
                background-color: $incon-prim;
            }
        }
        .nav-menu{
            background-color: rgba(#9E9D37,0.8);
        }
    }
    
    background: $incon-sec2;
    color: $incon-prim!important;
    h1,
    h2,
    h4{
        font-family: $fontD; transform: scale(1.1);
        &.card-title{
            text-transform: lowercase;
            color: $incon-sec;
        }
    }

    h3,
    p{
        font-family: $fontE;
        line-height: 1.3;
        transform: scale(0.95);
    }
    .cards{

        background-color: $incon-prim;
        border: 8px solid $incon-prim;
        min-height: initial;
        height: initial;
        @include border-radius(0);
        &.white p{color: $incon-sec;}

        .accent-inv{
            font-family: $fontD;
            font-size: 0.9em;
        }
    }

    .con-main{
        background-color: $incon-sec2!important;
    }
}
/* #endregion entire page style change */
