$incon-prim: #897A9E;
$incon-sec: #FBF7FF;
$incon-sec2: #D9A1EA;
$incon-acc: #9E9D37;

.con-main{
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.05fr 0.3fr 0.05fr 0.6fr;
    grid-template-areas:". . ."
                        ". b1 ."
                        ". . ."
                        "b2 b2 b2";

}


.inconsistant{
    background: $incon-sec2;
    color: $incon-sec!important;
    .con-main{
        background-color: $incon-sec2!important;
    }
}