$incon-prim: #74508A;
$incon-sec: #FBF7FF;
$incon-sec2: #D9A1EA;
$incon-acc: #9E9D37;

.con-main{
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.05fr 0.3fr 0.05fr 0.6fr;
    grid-template-areas:". . ."
                        ". b1 ."
                        ". . ."
                        "b2 b2 b2";
    .con-toggle{
        min-height: 0vw;
        font-size: clamp(1.2rem, 2vw, 1.4rem);
    }
}


/* #region entire page style change */
body.con-body{
    transition: all 1s ease;
    
    .con-main{
        transition: 1s background-color ease;
    }
}

.inconsistant{
    h1,
    h2{font-family: 'Grenze Gotisch', cursive;}
    background: $incon-sec2;
    color: $incon-prim!important;
    .con-main{
        background-color: $incon-sec2!important;
    }
}
/* #endregion entire page style change */
