.learn-main{
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.05fr 0.3fr 0.05fr 0.6fr;
    grid-template-areas:". . ."
                        ". b1 ."
                        ". . ."
                        "b2 b2 b2";
    .b2{overflow: hidden;}
}
.toggleCards{display: none;}
.toggleCards:checked {
    ~.card-wrapper{
        transform: scale(0.7) translateY(-100%) ;
        opacity: 0;
    }
    ~.card-wrapper2{
        transform: scale(1) translateY(-100%);
        opacity: 100%;
    }
}


.all-cards{
    
    overflow: hidden;
    .card-wrapper2{
        height: 100%;
        opacity: 0;
        transform: scale(0.7);
        transition: 1s transform ease-in-out,
                    1s opacity ease-in-out;
    }

    .card-wrapper{
        height: 100%;
        transition: 1s transform ease-in-out, 
        1s opacity ease-in-out;
    }
    .card-title{
        font-size: clamp(1.8rem,2vw, 2.5rem);
    }

    // ----------------------------
    /* #region Arrow div */ 
    .arrows{
        
        width: 100%;
        height: 80px;
        padding: 10px;
        display: flex;
        align-items: center;
        &.txt-right { 
            display: flex;
            justify-content: flex-end;
            padding: 0;
            height: 3rem;
            padding-right: 10px;
        }

        // ----------------------------
        // hide check box
        .r-arrow-btn{display: none;}
        
        // ----------------------------
        // arrow icon wrapper 
        // full width of parent element
        .arrow-wrapper{
            text-align: left;
            width: 100%;
            transform: translateX(0px);
            transition: 1.5s transform ease;
        }

        // ----------------------------
        // arrow icon element
        .d-arrow-icon,
        .r-arrow-icon {
            min-height: 0vw;
            font-size: clamp(2.5rem, 2vw, 3.5rem);
            cursor: pointer;
            color: $blue;
            // pseudo element font size
            &::before {transition: 250ms font-size ease;}
            &:hover::before, 
            &:focus-within::before {color: white; font-size: 1.15em;}
        }

        .r-arrow-icon{
            transform: translateX(0px) rotate(0deg);
            transition: 1.5s padding-left ease-in-out,
                        1.5s transform ease,
                        250ms color ease;
        }

        // ----------------------------
        // toggled state, check box/arrow checked
        .r-arrow-btn:checked {
            ~.arrow-wrapper{
                transform: translateX(100%);
                .r-arrow-icon{
                    transform: translateX(-100%) rotate(180deg);
                }
            }
        }
    }
    /* #endregion Arrow div */



    // ----------------------------
    /* #region card2 - Familiar div */
    .familiar{
        .icon-btn{
            font-size:clamp(2.2rem, 2vw, 3rem);
            margin:  clamp(2px, 1.5vw, 20px);
            color: white;
            transition: 250ms color ease;
            &:hover,
            &:focus-within {
                color: $blue;
            }
        }
    }

    /* #endregion card2 - Familiar div */
}

.modal{
    .modal-content{
        .modal-header{
            h5{color:$blue;}
            .x-square{
                font-size: 1.3rem;
            }
        }
        .modal-body{
            a {color: $blue;}
            a:hover {text-decoration: underline;}
        }
        
        .modal-footer{
            button{
                font-size: 3rem;
                padding: 0!important;
                span{text-align: center;}
                width: 60px;
                height: 40px;
                line-height: 1;
                &.blue{
                    background-color: $lBlue;
                    width: 100px;
                    height: 50px;

                }
                &.blue:hover{
                    background-color: darken($color: $lBlue, $amount: 10%);
                }
            }
        }
    }

}
