.learn-main{
    min-height: 100vh;
    height:800px;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.1fr 0.3fr 0.1fr 0.5fr;
    grid-template-areas:". . ."
                        ". b1 ."
                        ". . ."
                        "b2 b2 b2";
}

.predict{
    
    .arrows{
        width: 100%;
        height: 150px;
        padding: 10px;
        
        .fas{
            font-size: 3rem;
        }
        .r-arrow-btn{display: none;}
        .r-arrow-icon{
            float: left;
            padding-left: 0px;
            transition: 1s padding-left ease-in-out;
        }
        .r-arrow-btn:checked ~ .r-arrow-icon{
            padding-left:90%;


        }
    }

}