// @media screen and (min-width: 940px) {
//     .inconsistent .cards {
//         min-height: 20px;
//         margin-bottom: -1px;
//         margin-top: -1px;
//     }
// }
@media screen and (max-width: 940px) {
    /* #region colour page */
    .colour-main {
        height: 100%;
        grid-template-rows: 0.2fr 0.2fr 0.1fr 0.9fr;
        grid-template-areas:"b1 b1 b1" 
        "b1 b1 b1" 
        "b2 b2 b2" 
        "b2 b2 b2";
    }

    .cards {
        display: block;
        margin: 25px auto;
        width: 60%;
    }

    .colour-a11y {
        grid-template-columns:  100px 0.3fr 0.4fr 0.3fr 150px;
        grid-template-rows: 0.2fr 0.3fr  0.15fr  0.35fr;
        grid-template-areas:"h h h ss1 s1"
                            ". c c c ." 
                            "s2 ss2 . s3 s3" 
                            "ss3 cb cb cb ss4";
    }
    .or-box {
        width: 30px!important;
        height: 30px!important;
    }
    .or-box.md {
        width: 75px!important;
        height: 75px!important;
    }
    /* #endregion symbol demo animation */


    .con-main{
        min-height: 110vh;
        height:900px;
        
    }
    .inconsistent .cards {
        display: inline-block;
        min-height: 10px;
        margin-bottom: -1px;
        margin-top: -1px;
    }
}

@media screen and (max-width: 720px) {
    /* #region home page */
    .home{
        grid-template-rows: 0.5fr 0.1fr 0.3fr 0.1fr;
        grid-template-areas:"b2 b2 b2" 
                            "b1 b1 b1" 
                            "b1 b1 b1" 
                            "b3 b3 b3";
    }
    /* #endregion home page */

    /* #region clickability page */
    .click{
        grid-template-columns:  1fr 1fr 1fr ;
        grid-template-rows: 0.05fr 0.8fr 1fr 0.1fr 1fr;
        grid-template-areas:"b1 b1 b1" 
                            "b1 b1 b1" 
                            "b2 b2 b2" 
                            ". . ." 
                            "b3 b3 b3";
    }
    /* #endregion clickability page */

} 

@media screen and (max-width: 660px) {
    /* #region nav bar */
    .nav-bar {
        width: 260px;
        // initial clip path
        @include circle(80px, -10px, -10px);
        
        &.nav-show{
            @include circle(250px, 0px, 250px);
        }
        // reduce space between elements
        .nav-menu {
            padding: 5px;
            a {margin: 1rem;}
        }
        .hamburger {padding: 1.5rem 1rem;}
    }
    .hb-btn:checked ~.nav-bar {
        // clip path showing the rest of content
        @include circle(250px, 0px, 250px);
    }
    /* #endregion nav bar */


    /* #region colour page */
    .colour-a11y{
        min-height: 150vh;
        height:1000px;
    }
    /* #endregion colour page */


    /* #region learnability page */
    .learn-main{
        min-height: 100vh;
        height:850px;
        // grid-template-columns:  1fr 1fr 1fr ;
        grid-template-rows: 0.05fr 0.2fr 0.75fr;
        grid-template-areas:". . ."
                            "b1 b1 b1"
                            
                            "b2 b2 b2";
    }
    /* #region learnability page */
    .con-main{
        min-height: 110vh;
        height:900px;
        

        grid-template-areas:". . ."
                            "b1 b1 b1"
                            ". . ."
                            "b2 b2 b2";
    }
}

@media screen and (max-width: 540px) {
    .home{height:550px;}
    /* #region colour page */
    .cards {
        width: 100%;
        &.large{width: 100%;}
    }
    .colour-a11y {
        min-height: 160vh;
        height: 1200px;
        grid-template-columns:  0.4fr 0.4fr 0.2fr;
        grid-template-rows: 0.2fr 20px 0.30fr  0.1fr  0.33fr 0.1fr;
        grid-template-areas:"h h . "
                            ". . s1"
                            "c c ." 
                            "ss2 . s2" 
                            "cb cb ss4" 
                            "ss3 s3 s3";
        .sml-sqr1 {display: none;}
        .sqr1 {background-color: $accent;}
        .heading {padding: 0.5rem;}
    }
    /* #endregion colour page */
    /* #region colour page */

    .click-next-page{
        grid-template-columns:  0.5fr 0.5fr   ;
        grid-template-rows:  0.1fr 0.3fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas:". ."
                            "q q"
                            "cc cc"
                            "np1 np2" 
                            "np3 np4" 
                            "np5 np6" 
                            "np7 np9" 
                            "np8 np8";
    }
}

@media screen and (max-width: 420px) {
    .container-xl{padding: 0;}
    .con-main{
        min-height: 140vh;
        height:1100px;
    }
}