.thanks{
    // min-height: ;
    height:100vh;
    display: grid; 
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 0.2fr 0.6fr;
    grid-template-areas:"b1 b1 b1"
                        "b2 b2 b2"
                        "b2 b2 b2";
    
    h3 {font-size:clamp(1.3rem,2.5vw, 2.3rem);}
        
    iframe{
        cursor: auto;
    }
    
     .b2{overflow: hidden;}
}
