/* #region global variables */
$blue : #0a3155;
$white: aliceblue;
$lBlue:#1B81E0;
// $lBlue:lighten($color: $blue, $amount: 45%);
$accent:#CD8115;
$accentD:#A66317;
$fontA: 'Oswald', sans-serif;
$fontB: 'Caveat', 'Courier New', monospace;
/* #endregion */

/* #region Mixins*/
@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}

@mixin scale-xy($x,$y) {
    -webkit-transform: scale($x,$y);
    -ms-transform: scale($x,$y);
    transform: scale($x,$y);
}

@mixin scale-x($x) {
    -webkit-transform: scaleX($x);
    -ms-transform: scaleX($x);
    transform: scaleX($x);
}
/* #endregion */

/* #region general page styling */
html {
    scroll-behavior: smooth;
}

body{
    background: $blue;
    color: $lBlue;
    font-family: $fontA;
    font-size: 62.5%;
}

*::after,
*::after{box-sizing: border-box;}
* {box-sizing: border-box;}
h1{
    font-size:clamp(2.7rem,4vw, 3.2rem);
    font-weight: bold;
}
h2{
    font-size:clamp(2.5rem,3.5vw, 3rem)
}
h3{
    font-family: $fontB;
    font-size:clamp(1.8rem,2.5vw, 2.3rem);
}
h4{
    font-size:clamp(1.6rem,1.8vw, 2rem);
    font-weight: bold;
}
h5{font-size:clamp(1.5rem,2vw, 1.8rem);}
p{
    font-family: $fontB;
    font-size:clamp(1.5rem,2vw, 1.8rem);
}
a{font-size: 1.5rem;}
.accent{color: $accent;}
/* Makes originally clickable elements inactive */
.inactive{
    pointer-events: none;
}

/* not currently being used */
.btn-toggle{
    font-family: $fontB;
    padding: 1px 20px !important;
    border: none;
    font-size: 1.2rem;
}

/* Symbol to indicate interactiveness */
.sym{position: relative;}
.sym::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    content: '\f0a6';
}

/* #endregion */

/* #region bootstrap button styling */
/* remove unwanted oulines from all btn */
.btn:focus{
    outline: none!important;
    box-shadow: none!important;
}
.btn-primary{
    color: aliceblue!important;
    background-color: $lBlue!important;
    font-size: clamp(1.3rem, 1.8vw, 2rem)!important;
    border-color: darken($color:$lBlue, $amount:10%)!important;
    transition: 200ms border ease-out;
}

.btn-primary:hover {
    background-color: darken($color:$lBlue, $amount:10%)!important;
    color:aliceblue !important;
    border-color: darken($color:$lBlue, $amount:10%)!important;
}

.btn-primary:active {
    border: none;
    
}

.btn-outline-primary{
    color: $lBlue !important;
    border-color: $lBlue!important;
    vertical-align: baseline;
    padding: 4px 10px;
}
.btn-outline-primary:hover, .btn-outline-primary:focus,
.btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: $lBlue!important;
    color:aliceblue !important;
    border-color: $lBlue!important;
}
.alias{cursor: alias;}
.not-allowed{cursor:not-allowed;}
.crosshair{cursor: crosshair;}
.wait{cursor:wait;}

/* #endregion */

/* #region div styling for transition on screen load */
.tr-hide {
    background: $blue;
    overflow: hidden;
}
.tr-main{
    opacity: 0%;
    transform: translateY(280%);
}
/* #endregion */

/* #region Div and element alignment */
.al-vert{
    align-self: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion */

/* #region animating links */
.ani-links{
    text-decoration: none;
    color: lighten($color: $accent, $amount:10%);
    position: relative;
    transition: 250ms color ease;
}
.ani-links:hover{
    text-decoration: none;
    color: darken($color: $accent, $amount:5%);
}
.ani-links::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    @include scale-x(0);
    transition: 250ms transform ease;
}
.ani-links:hover::after{
    @include scale-x(1);
}
/* #endregion */


@import "home";

@import "click";

@import "colour";
