/* #region global variables */
/* #endregion */
/* #region Mixins*/
/* #endregion */
/* #region general page styling */
html {
  scroll-behavior: smooth;
}

body {
  background: #0a3155;
  color: #1B81E0;
  font-family: "Oswald", sans-serif;
  font-size: 62.5%;
}

*::after,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: clamp(2.7rem, 4vw, 3.2rem);
  font-weight: bold;
}

h2 {
  font-size: clamp(2.5rem, 3.5vw, 3rem);
}

h3 {
  font-family: "Caveat", "Courier New", monospace;
  font-size: clamp(1.8rem, 2.5vw, 2.3rem);
}

h4 {
  font-size: clamp(1.6rem, 1.8vw, 2rem);
  font-weight: bold;
}

h5 {
  font-size: clamp(1.5rem, 2vw, 1.8rem);
}

p {
  font-family: "Caveat", "Courier New", monospace;
  font-size: clamp(1.5rem, 2vw, 1.8rem);
}

a {
  font-size: 1.5rem;
}

.accent {
  color: #CD8115;
}

.accent-inv {
  padding: 0px 0.3rem;
  border-radius: 0.2rem;
  color: white;
  background-color: #CD8115;
}

/* Makes originally clickable elements inactive */
.inactive {
  pointer-events: none;
}

/* not currently being used */
.btn-toggle {
  font-family: "Caveat", "Courier New", monospace;
  padding: 1px 20px !important;
  border: none;
  font-size: 1.2rem;
}

/* Symbol to indicate interactiveness */
.sym {
  position: relative;
}

.sym::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  content: '\f0a6';
}

/* #endregion */
/* #region bootstrap button styling */
/* remove unwanted oulines from all btn */
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary {
  color: aliceblue !important;
  background-color: #1B81E0 !important;
  font-size: clamp(1.3rem, 1.8vw, 2rem) !important;
  border-color: #1667b2 !important;
  -webkit-transition: 200ms border ease-out;
  transition: 200ms border ease-out;
}

.btn-primary:hover {
  background-color: #1667b2 !important;
  color: aliceblue !important;
  border-color: #1667b2 !important;
}

.btn-primary:active {
  border: none;
}

.btn-outline-primary {
  color: #1B81E0 !important;
  border-color: #1B81E0 !important;
  vertical-align: baseline;
  padding: 4px 10px;
}

.btn-outline-primary:hover, .btn-outline-primary:focus,
.btn-outline-primary:active, .btn-outline-primary:visited {
  background-color: #1B81E0 !important;
  color: aliceblue !important;
  border-color: #1B81E0 !important;
}

.alias {
  cursor: alias;
}

.not-allowed {
  cursor: not-allowed;
}

.crosshair {
  cursor: crosshair;
}

.wait {
  cursor: wait;
}

/* #endregion */
/* #region div styling for transition on screen load */
.tr-hide {
  background: #0a3155;
  overflow: hidden;
}

.tr-main {
  opacity: 0%;
  -webkit-transform: translateY(280%);
          transform: translateY(280%);
}

.tr-opac {
  opacity: 0%;
}

/* #endregion */
/* #region Div and element alignment */
.al-vert {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* #endregion */
/* #region animating links */
.ani-links {
  text-decoration: none;
  color: #e99b2c;
  position: relative;
  -webkit-transition: 250ms color ease;
  transition: 250ms color ease;
}

.ani-links:hover {
  text-decoration: none;
  color: #b67213;
}

.ani-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 250ms -webkit-transform ease;
  transition: 250ms -webkit-transform ease;
  transition: 250ms transform ease;
  transition: 250ms transform ease, 250ms -webkit-transform ease;
}

.ani-links:hover::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* #endregion */
/* #region set up grid */
.home {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 0.5fr 1fr;
      grid-template-rows: 1fr 1fr 0.5fr 1fr;
      grid-template-areas: ". . ." "b2 b1 b1" ". . ." "b3 b3 b3";
}

/* #endregion */
/* #region  grid items set up and styling*/
.b1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b1;
  -ms-flex-item-align: center !important;
      align-self: center !important;
  text-align: center;
  padding: 5px;
}

.b2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: b2;
  text-align: center;
  vertical-align: center;
  padding: 5px;
}

.b2 img {
  width: clamp(180px, 20vw, 270px);
}

.b3 {
  padding: 5px;
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: b3;
  text-align: center;
}

/* #endregion */
/* #region media query to rearrange grid */
@media screen and (max-width: 720px) {
  .home {
    -ms-grid-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-areas: ". . ." "b2 b2 b2" "b1 b1 b1" "b3 b3 b3";
  }
}

/* #endregion */
/* #region main content grid */
.click {
  /* #region general setup*/
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 0.5fr 1fr;
      grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  -ms-grid-rows: 0.2fr 1fr 0.3fr 1fr;
      grid-template-rows: 0.2fr 1fr 0.3fr 1fr;
      grid-template-areas: ". . . ." ". b1 b1 ." ". . . ." "b2 b2 b3 b3";
  /* #endregion */
  /* #region setup demo box/card*/
  /* white space in HTML */
  /* #endregion */
  /* #region symbol demo animation*/
  /* #endregion */
  /* #region demo click button styling*/
  /* styling for the toggled class (larger btn) */
  /* #endregion */
}

.click h3 {
  font-size: clamp(1.8rem, 3vw, 2.3rem);
}

.click .demo-box {
  background: #092c4c;
  padding: 10px;
  border-radius: 10px;
  height: clamp(260px, 22vw, 50px);
}

.click .demo-box h3 {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}

.click .demo-box a {
  font-size: clamp(1.2rem, 2.3vw, 1.8rem);
}

.click .demo-box #demo-btn-basic {
  font-size: clamp(1rem, 2.3vw, 1.5rem);
}

.click .space-sep::after {
  content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
}

.click .symbol-demo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.click .symbol-demo::after {
  font-family: "FontAwesome";
  content: " \f138";
  position: absolute;
  display: inline;
  bottom: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  font-size: 1em;
  -webkit-transition: 250ms font-size ease, 250ms font-weight ease, 500ms color ease;
  transition: 250ms font-size ease, 250ms font-weight ease, 500ms color ease;
}

.click .symbol-demo:hover::after {
  font-family: "FontAwesome";
  content: " \f138";
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  font-weight: bold;
  color: #CD8115;
  font-size: 1.2em;
}

.click .demo-btn-1 {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  padding: 3px;
  border: none;
  background-color: #f9fcfe;
  -webkit-transition: 1s background-color ease, 1s padding ease, 1s color ease 0.2s, 1s border-radius ease,  1s -webkit-transform ease;
  transition: 1s background-color ease, 1s padding ease, 1s color ease 0.2s, 1s border-radius ease,  1s -webkit-transform ease;
  transition: 1s transform ease,  1s background-color ease, 1s padding ease, 1s color ease 0.2s, 1s border-radius ease;
  transition: 1s transform ease,  1s background-color ease, 1s padding ease, 1s color ease 0.2s, 1s border-radius ease,  1s -webkit-transform ease;
  outline: 0 !important;
}

.click .demo-btn-1-click {
  background: #1B81E0;
  color: aliceblue;
  /* mixin for transform: scale */
  -webkit-transform: scale(1.8, 1.5);
  transform: scale(1.8, 1.5);
  border-radius: 0.2rem;
  padding: .5rem .7rem;
}

.click .demo-btn-1-click:hover {
  background: #1667b2;
}

/* #endregion */
/* #region next page buttons */
.click-next-page {
  /* #region general stylings and grid setup*/
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: 0.2fr 0.2fr 0.2fr 0.3fr 0.3fr 0.3fr 0.2fr;
      grid-template-rows: 0.2fr 0.2fr 0.2fr 0.3fr 0.3fr 0.3fr 0.2fr;
      grid-template-areas: ". . ."  "q q q" ". cc ." "np1 np2 np3"  "np4 np5 np6"  "np7 np8 np9"  ". . .";
  text-align: center;
  /* #endregion */
  /* #region grid items setup */
  /* #endregion */
  /* #region Arrow symbol animation*/
  /* #endregion */
}

.click-next-page h3 {
  font-size: clamp(1.9rem, 2.8vw, 2.2rem);
}

.click-next-page a {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}

.click-next-page .np-task {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: q;
}

.click-next-page .clicks {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cc;
}

.click-next-page .np1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: np1;
}

.click-next-page .np2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: np2;
}

.click-next-page .np3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: np3;
}

.click-next-page .np4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: np4;
}

.click-next-page .np5 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: np5;
}

.click-next-page .np6 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: np6;
}

.click-next-page .np7 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: np7;
}

.click-next-page .np8 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: np8;
}

.click-next-page .np9 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: np9;
}

.click-next-page .symbol {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: text;
}

.click-next-page .symbol::after {
  /* code for rounded arrow */
  font-family: "FontAwesome";
  content: " \f138";
  position: absolute;
  margin-left: 5px;
  bottom: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  font-size: clamp(1.5rem, 1.5vw, 3em);
  /* set rotation to start at 300 deg (facing upwards)*/
  -webkit-transition: 250ms font-size ease, 250ms -webkit-transform ease;
  transition: 250ms font-size ease, 250ms -webkit-transform ease;
  transition: 250ms font-size ease, 250ms transform ease;
  transition: 250ms font-size ease, 250ms transform ease, 250ms -webkit-transform ease;
}

.click-next-page .symbol:hover::after {
  font-family: "FontAwesome";
  content: " \F138";
  position: absolute;
  /* rotation on hover becomes 360 deg (right) */
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  font-size: clamp(1.6rem, 2vw, 3.5em);
}

/* #endregion */
@media screen and (max-width: 720px) {
  .click {
    height: 120vh;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.05fr 0.8fr 1fr 0.1fr 1fr;
        grid-template-rows: 0.05fr 0.8fr 1fr 0.1fr 1fr;
        grid-template-areas: "b1 b1 b1"  "b1 b1 b1"  "b2 b2 b2"  ". . ."  "b3 b3 b3";
  }
}

.colour-main {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.2fr 0.3fr 0.1fr 0.8fr;
      grid-template-rows: 0.2fr 0.3fr 0.1fr 0.8fr;
      grid-template-areas: ". .  ." ". b1 ." ". .  ." "b2 b2 b2";
}

.cards {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  margin: 0px 1%;
  padding: 4px;
  background-color: #1B81E0;
  color: aliceblue;
  border: 0.5rem solid #1B81E0;
  border-radius: 1rem;
  -webkit-transition: 200ms width ease,150ms margin ease;
  transition: 200ms width ease,150ms margin ease;
}

.cards .card-title {
  color: #0a3155;
  -webkit-transition: 1s color ease;
  transition: 1s color ease;
}

.hierarchy a {
  font-size: clamp(1rem, 1.8vw, 1.5rem);
}

.highlight {
  background-color: #CD8115;
  font-size: clamp(1.3rem, 1.2vw, 1.8rem);
  border-radius: 0.2rem;
}

.highlight.or-wh {
  color: white;
  font-family: "Oswald", sans-serif;
}

.highlight.padding {
  padding: 0.2rem 0.5rem;
}

.highlight.darker {
  background-color: #082947;
}

.highlight.light {
  background-color: rgba(10, 49, 85, 0.5);
}

.highlight.lightest {
  background-color: rgba(10, 49, 85, 0.2);
}

.gap {
  margin-right: 10px;
}

.gap:last-child {
  margin-right: 0px;
}

.ratio {
  text-align: center;
  color: white;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0a3155), to(#0a3155)), -webkit-gradient(linear, left top, left bottom, from(#1B81E0), to(#1B81E0)), -webkit-gradient(linear, left top, left bottom, from(#CD8115), to(#CD8115));
  background-image: linear-gradient(#0a3155, #0a3155), linear-gradient(#1B81E0, #1B81E0), linear-gradient(#CD8115, #CD8115);
  background-size: 100% 50%,100% 80%,100% 100%;
  -webkit-transition: 1s background-size ease-in-out;
  transition: 1s background-size ease-in-out;
}

.ratio .card-title {
  color: #1B81E0;
}

.clr-grid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 0.4fr 0.2fr 0.4fr;
      grid-template-columns: 0.4fr 0.2fr 0.4fr;
  -ms-grid-rows: 0.1fr 0.1fr 1fr 1fr;
      grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
      grid-template-areas: "w . c" "bar bar bar"  "aw . ac"  "aw . ac";
  background-repeat: no-repeat;
  padding: 1rem;
}

.clr-grid .warm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: w;
}

.clr-grid .cool {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: c;
}

.clr-grid .all-warm {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: aw;
}

.clr-grid .all-cool {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: ac;
}

.clr-grid .bar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: bar;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, #1b81e0), color-stop(20%, #992624), color-stop(rgba(205, 129, 21, 0.8)), color-stop(80%, #0a3155), color-stop(97%, #1b81e0));
  background: linear-gradient(to right, #1b81e0 3%, #992624 20%, rgba(205, 129, 21, 0.8), #0a3155 80%, #1b81e0 97%);
}

.fa-card {
  background-color: aliceblue;
  padding: 5px;
  font-size: 2rem;
  border-radius: 0.5rem;
  -webkit-transition: 250ms -webkit-transform ease;
  transition: 250ms -webkit-transform ease;
  transition: 250ms transform ease;
  transition: 250ms transform ease, 250ms -webkit-transform ease;
  color: #0a3155;
  margin: 5px;
}

.fa-card:hover, .fa-card:focus-within {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fa-card.red {
  color: #992624;
}

.fa-card.orange {
  color: #A66317;
}

.fa-card.yellow {
  color: #FFE20A;
  background-color: #125EA5 !important;
}

.fa-card.blue {
  color: #125EA5;
}

.fa-card.green {
  color: #1D5E3E;
}

.fa-card.purple {
  color: #312768;
}

.colour-a11y {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 200px 0.35fr 0.35fr 200px;
      grid-template-columns: 0.3fr 200px 0.35fr 0.35fr 200px;
  -ms-grid-rows: 0.2fr 0.3fr  0.2fr  0.3fr;
      grid-template-rows: 0.2fr 0.3fr  0.2fr  0.3fr;
      grid-template-areas: ". . . . s1" "h h c c ss1"  ". s2 . . s3"  ". . cb cb .";
}

.colour-a11y h4 {
  color: #0a3155;
  font-size: clamp(1.6rem, 1.8vw, 1.8rem);
}

.colour-a11y p {
  font-size: clamp(1.4rem, 1.8vw, 1.8rem);
}

.colour-a11y .heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  text-align: left;
  padding: 0px 2rem;
  overflow: scroll;
}

.colour-a11y .sqr1 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: s1;
  background-color: #1B81E0;
}

.colour-a11y .sqr2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: s2;
  background-color: #1B81E0;
}

.colour-a11y .sqr3 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: s3;
  background-color: #1B81E0;
}

.colour-a11y .small-sqr1 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: ss1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.colour-a11y .or-box {
  background-color: #CD8115;
  width: 50px;
  height: 50px;
}

.colour-a11y .contrast {
  overflow: scroll;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: c;
  background-color: #1B81E0;
  color: white;
  padding: clamp(0.8rem, 2vw, 2.5rem) !important;
}

.colour-a11y .colour-blind {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: cb;
  overflow: scroll;
  color: white;
  padding: clamp(0.8rem, 2vw, 2.5rem);
  background-color: #1B81E0;
}

@media (hover) {
  .ratio {
    background-size: 100% 0%,100% 0%,100% 0%;
  }
  .ratio .card-title {
    color: #0a3155;
  }
  .ratio:hover {
    background-size: 100% 50%,100% 80%,100% 100%;
  }
  .ratio:hover .card-title {
    color: #1B81E0;
  }
}

@media screen and (max-width: 940px) {
  .colour-main {
    height: 100%;
    -ms-grid-rows: 0.2fr 0.2fr 0.1fr 0.9fr;
        grid-template-rows: 0.2fr 0.2fr 0.1fr 0.9fr;
        grid-template-areas: "b1 b1 b1"  "b1 b1 b1"  "b2 b2 b2"  "b2 b2 b2";
  }
  .cards {
    display: block;
    margin: 25px auto;
    width: 60%;
  }
}

@media screen and (max-width: 540px) {
  .cards {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */