$blue : #0a3155;
$white: aliceblue;
$osward: 'Oswald', sans-serif;
$caveat: 'Caveat', cursive;

@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}

/* Will change font sizes to rem later on */
body{
    background: $blue;
    color: lighten($color: $blue, $amount: 40%);
    font-family: $osward;
    font-size: 62.5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-family: $caveat;
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
}

.btn-toggle{
    font-family: $caveat;
    padding: 1px 20px !important;
    border: none;
    font-size: 1.2rem;
}

.tr-hide {
    background: $blue;
    overflow: hidden;
}

.tr-main{
    transform: translateY(120%);
}

.al-vert{
    align-self: center;
}

/* Makes originally clickable elements inactive */
.inactive{
    pointer-events: none;
}

@import "home";

@import "click";



