$blue : #0a3155;
$white: aliceblue;
$osward: 'Oswald', sans-serif;
$caveat: 'Caveat', cursive;
$lBlue:lighten($color: $blue, $amount: 45%);
@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}

@mixin scale-xy($x,$y) {
    -webkit-transform: scale($x,$y);
    -ms-transform: scale($x,$y);
    transform: scale($x,$y);
}
html {
    scroll-behavior: smooth;
}
/* Will change font sizes to rem later on */
body{
    background: $blue;
    color: $lBlue;
    font-family: $osward;
    font-size: 62.5%;
}
*::after,
*::after{
    box-sizing: border-box;
}

h1{font-size:clamp(2.7rem,3.5vw, 3.2rem);}

h2{
    font-family: $caveat;
    font-size:clamp(1.8rem,2.5vw, 2.3rem);
}

p{
    font-size: 1.5rem;
}

a{
    font-size: 1.5rem;
}

.btn-toggle{
    font-family: $caveat;
    padding: 1px 20px !important;
    border: none;
    font-size: 1.2rem;
}

.tr-hide {
    background: $blue;
    overflow: hidden;
}

.tr-main{
    transform: translateY(280%);
}

.al-vert{
    align-self: center;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ani-links{
    text-decoration: none;
    color: lighten($color: $lBlue, $amount:10%);
    position: relative;
    transition: 250ms color ease;
}
.ani-links:hover{
    text-decoration: none;
    color: darken($color: $lBlue, $amount:5%);
}
.ani-links::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: 250ms transform ease;
}
.ani-links:hover::after{
    transform: scaleX(1);
}

/* Makes originally clickable elements inactive */
.inactive{
    pointer-events: none;
}

@import "home";

@import "click";



