$blue : #0a3155;
$white: aliceblue;
$osward: 'Oswald', sans-serif;
$caveat: 'Caveat', cursive;

@mixin border-radius($r) {
    -webkit-border-radius: $r;
    -ms-border-radius: $r;
    border-radius: $r;
}


body{
    background: $blue;
    color: lighten($color: $blue, $amount: 40%);
    font-family: $osward;
    font-size: 2vmax;
}

h1{
    font-size: 4vmax;
}

h2{
    font-family: $caveat;
    font-size: 2vmax;
}

.btn-toggle{
    font-family: $caveat;
    padding: 1px 20px !important;
    border: none;
    font-size: 1.5vmax;
}

.tr-hide {
    background: $blue;
    overflow: hidden;
}

.tr-main{
    transform: translateY(120%);
}

@import "home";

/* Makes originally clickable elements inactive */
.inactive{
    pointer-events: none;
}